{% extends 'base.html.twig' %}

{% block title %}NeoCar{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <style>
        #product-image {
            width: 100%;
        }

        #product-svg svg {
            mix-blend-mode: multiply;
            width: 100%;
            height: auto;
        }

        #product-shape, #product-windows {
            fill: #fff;
        }

        .product-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .selection-buttons {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .selection-button, .jscolor {
            border: 2px solid #aaa;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
            cursor: pointer;
        }

        .selection-button {
            height: 2.5em;
            width: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: border-color .15s ease-in-out;
        }

        .selection-button.selected {
            border-color: #222;
        }

        .jscolor {
            outline: none;
            width: 100%;
        }

        .card {
            border: 1px solid #eee;
            border-radius: initial;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="section-heading">
            <h2>Customize <span class="font-italic">{% block carname %}Tesla Model X{% endblock %}</span></h2>
            <a href="{{ path('index') }}"><i class="fa fa-angle-left"></i> go back</a>
        </div>

        <div class="row no-gutters align-items-center">

            <div class="col-md-7 offset-1 mb-4 mb-md-0">
                <img id="product-image" src="{% block imagesrc %}https://i.ibb.co/rM6pP8c/eff29127abbf0d8e5e99cda29401fa7f.png{% endblock %}">
                <img id="product-wheels" class="product-overlay d-none">
                <div id="product-svg" class="product-overlay">{% block bodysvg %}{{ source('car-svgs/tesla-body.svg') }}{% endblock %}</div>
            </div>

            <div class="col-md-4 order-md-first ">

                <div class="accordion m-0" id="customizationAccordion">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1">
                                    Pick color
                                </button>
                            </h2>
                        </div>

                        <div id="collapse1" class="collapse show" data-parent="#customizationAccordion">
                            <div class="card-body mb-4">
                                <div class="colors selection-buttons mb-4">
                                    {% block colors %}
                                        <div class="color selection-button selected" style="background-color: #fff" data-hex="#fff"></div>
                                        <div class="color selection-button" style="background-color: #e1e851" data-hex="#e1e851"></div>
                                        <div class="color selection-button" style="background-color: #8cd147" data-hex="#8cd147"></div>
                                        <div class="color selection-button" style="background-color: #479F76" data-hex="#479F76"></div>
                                        <div class="color selection-button" style="background-color: #FFCD39" data-hex="#FFCD39"></div>
                                        <div class="color selection-button" style="background-color: #FD9843" data-hex="#FD9843"></div>
                                        <div class="color selection-button" style="background-color: #3D8BFD" data-hex="#3D8BFD"></div>
                                        <div class="color selection-button" style="background-color: #B02A37" data-hex="#B02A37"></div>
                                        <!-- <div class="color" style="background-color: #1e2024" data-hex="#1e2024"></div> -->
                                    {% endblock %}
                                </div>
                                <div class="text-center">
                                    <input class="jscolor {onFineChange:'changeColor(this)'} p-2 rounded-pill" value="fff">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2">
                                    Pick wheels
                                </button>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" data-parent="#customizationAccordion">
                            <div class="card-body mb-4">
                                <div class="wheels selection-buttons">
                                    {% block wheels %}
                                        <div class="wheel selection-button selected" data-src=" ">1</div>
                                        <div class="wheel selection-button" data-src=" ">2</div>
                                        <div class="wheel selection-button" data-src=" ">3</div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3">
                                    Pick window tint
                                </button>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" data-parent="#customizationAccordion">
                            <div class="card-body mb-4">
                                <div class="windows selection-buttons">
                                    {% block windows %}
                                        <div class="window selection-button selected" style="background-color: #fff" data-hex="#fff"></div>
                                        <div class="window selection-button" style="background-color: #DEE2E6" data-hex="#DEE2E6"></div>
                                        <div class="window selection-button" style="background-color: #ADB5BD" data-hex="#ADB5BD"></div>
                                        <div class="window selection-button" style="background-color: #6C757D" data-hex="#6C757D"></div>
                                        <div class="window selection-button" style="background-color: #495057" data-hex="#495057"></div>
                                        <div class="window selection-button" style="background-color: #343A40" data-hex="#343A40"></div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4">
                                    Pick interior
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" data-parent="#customizationAccordion">
                            <div class="card-body mb-4">
                                <div class="interiors selection-buttons">
                                    {% block interiors %}
                                        <div class="interior selection-button selected" data-src=" ">1</div>
                                        <div class="interior selection-button" data-src=" ">2</div>
                                        <div class="interior selection-button" data-src=" ">3</div>
                                        <div class="interior selection-button" data-src=" ">4</div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 80px;">
        <div class="section-heading">
            <h2>Your selected options</span></h2>
            <a href=""><i class="fa fa-times"></i> reset all</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // Reference the color shape that was drawn over the image
        const bodyOverlay = document.querySelector("#product-shape");
        const windowsOverlay = document.querySelector("#product-windows");
        const wheelsOverlay = document.querySelector("#product-wheels");
        const colorPicker = document.querySelector(".jscolor");

        function changeColor(picker) {
            selectedColor?.classList.remove("selected");
            changeBodyColor(picker.toHEXString());
        }

        function changeBodyColor(hexColor) {
            bodyOverlay.style.fill = hexColor;
        }

        function changeWindowsColor(hexColor) {
            windowsOverlay.style.fill = hexColor;
        }

        function changeWheels(src) {
            if(src == " "){
                wheelsOverlay.classList.add("d-none");
                return;
            }

            wheelsOverlay.src = src;
            wheelsOverlay.classList.remove("d-none");
        }

        const colors = document.querySelector(".colors");
        let selectedColor = document.querySelector(".color.selected");

        colors.addEventListener('click', (e) => {
            const target = e.target;
            const data = target.dataset.hex;

            if (!data) {
                return;
            }

            selectedColor?.classList.remove("selected");
            target.classList.add("selected");
            selectedColor = target;

            colorPicker.jscolor.fromString(data);
            changeBodyColor(data);
        })

        const wheels = document.querySelector(".wheels");
        let selectedWheel = document.querySelector(".wheel.selected");

        wheels.addEventListener('click', (e) => {
            const target = e.target;
            const data = target.dataset.src;

            if (!data) {
                return;
            }

            selectedWheel?.classList.remove("selected");
            target.classList.add("selected");
            selectedWheel = target;
            changeWheels(data);

        })

        const windows = document.querySelector(".windows");
        let selectedWindow = document.querySelector(".window.selected");

        windows.addEventListener('click', (e) => {
            const target = e.target;
            const data = target.dataset.hex;

            if (!data) {
                return;
            }

            selectedWindow?.classList.remove("selected");
            target.classList.add("selected");
            selectedWindow = target;
            changeWindowsColor(data);
        })

        const interiors = document.querySelector(".interiors");
        let selectedInterior = document.querySelector(".interior.selected");

        interiors.addEventListener('click', (e) => {
            const target = e.target;
            const data = target.dataset.src;

            if (!data) {
                return;
            }

            selectedInterior?.classList.remove("selected");
            target.classList.add("selected");
            selectedInterior = target;
        })

    </script>
{% endblock %}
