<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{{ path('index') }}">
        <img src="{{ asset('images/sport-car.svg') }}" alt="" class="mr-2" style="height: 36px;">
        <span style="font-size: 1.8em; line-height: 1em; color: #409643;">NeoCar</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {{ app.request.get('_route') == 'index' ? 'active' }}">
                <a class="nav-link" href="{{ path('index') }}">Home</a>
            </li>

            <li class="nav-item {{ app.request.get('_route') == 'cardetails' ? 'active' }}">
              <a class="nav-link" href="{{ path('cardetails') }}">Products</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Checkout</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">About Us</a>
                  <a class="dropdown-item" href="#">Blog</a>
                  <a class="dropdown-item" href="#">Terms</a>
                  <a class="dropdown-item" href="#">Contact Us</a>
                </div>
            </li>
            {% if app.request.cookies.get('loggedIn') %}
              <li class="nav-item" onclick="document.cookie='loggedIn=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/;'">
                <a class="nav-link" href="{{ path('index') }}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item {{ app.request.get('_route') == 'login' ? 'active' }}">
                <a class="nav-link" href="{{ path('login') }}">Login</a>
              </li>

              <li class="nav-item {{ app.request.get('_route') == 'register' ? 'active' }}">
                <a class="nav-link" href="{{ path('register') }}">Register</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Banner Starts Here -->
<div class="banner header-text">
</div>
<!-- Banner Ends Here -->
